@import "src/theme";

.container {
  position: relative;
  max-width: 500px;
  height: 90vh;
  margin: auto;
}

.heading {
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5vh;
  font-weight: bold;
}

.users-container {
  height: 90%;
  position: relative;

  border: 1px solid gray;

  overflow-y: auto;

  .user {
    height: 60px;
    padding: 0 10px;
    border-bottom: 1px solid gray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    &:hover {
      background-color: rgba(240, 240, 240);
    }

    .chat-info {

      .user-identity {
        font-size: 14px;
        font-weight: bold;
      }

      .chat-meta-data {
        font-size: 12px;
        font-weight: bold;
        font-style: oblique;
      }
    }
  }

  .unread {
    background-color: $color1;
    color: $color2;

    &:hover {
      background-color: lighten($color1, 10);
    }
  }
}
