@import "src/theme";

nav {
  height: 10vh;
  background-color: $color1;

  display: flex;
  align-items: center;
  justify-content: center;

  header {
    font-size: 5vh;
    font-weight: bold;
    color: $color2;
  }
}
